.config {
	@include grid($grid-columns, 0);

	fieldset {
		@include grid($grid-columns);
	}

	legend {
		margin: 0 0 0.25em 0;
	}

	label {
		@include pie-clearfix();
		display: block;
		margin: 0 0 0.25em 0;
		padding: 3px;
	}

	.label,
	.input {
		float: left;
		display: block;
		width: 50%;
	}

	.label {
		padding: 2px;
	}

	.input {
		position: relative;
		padding-right: 50px;
	}
}

@include grid-break($grid-break-medium) {
	.config {
		fieldset {
			@include grid($grid-columns / 2);
		}
	}
}


@include grid-break($grid-break-large) {
	.config {
		fieldset {
			@include grid($grid-columns / 3);
		}
	}
}
