.config {
	.select {
		@include inline-block();
		@include border-radius(3px);
		position: absolute;
		top: 1px;
		right: 0;
		padding: 0 1em 0 0;
		width: 45px;

		span {
			@include icon(down-dir);
			display: block;
			text-align: center;

			&:before {
				position: absolute;
				width: 1em;
				right: 0;
			}
		}

		select {
			@include opacity(0.0);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
