<div class="config">
	<fieldset>
		<legend>Columns</legend>

		<label for="columns">
			<span class="label">Amount:</span>
			<div class="input">
				<input type="number" name="columns" value="<%= columns %>" />
			</div>
		</label>

		<label for="widthMax">
			<span class="label">Max Width</span>
			<div class="input">
				<input type="number" name="widthMax" value="<%= widthMax %>" />
				<select name="gutterUnit">
					<option value="%" <%= (widthMaxUnit === '%') ? 'selected' : '' %>>%</option>
					<option value="px" <%= (widthMaxUnit === 'px') ? 'selected' : '' %>>px</option>
				</select>
			</div>
		</label>
	</fieldset>

	<fieldset>
		<legend>Gutter</legend>

		<label for="gutter">
			<span class="label">Width:</span>

			<div class="input">
				<input type="number" name="gutter" value="<%= gutter %>" />
				<select name="gutterUnit">
					<option value="%" <%= (gutterUnit === '%') ? 'selected' : '' %>>%</option>
					<option value="px" <%= (gutterUnit === 'px') ? 'selected' : '' %>>px</option>
				</select>
			</div>
		</label>
	</fieldset>
</div>
