<div class="config">
	<fieldset>
		<legend>Columns</legend>

		<label for="columns">
			<span class="label">Amount:</span>
			<div class="input">
				<input type="number" name="columns" value="<%= columns %>" />
			</div>
		</label>

		<label for="widthMax">
			<span class="label">Max Width</span>
			<div class="input">
				<input type="number" name="maxWidth" value="<%= maxWidth %>" />
				<select name="maxWidthUnit">
					<option value="%" <%= (maxWidthUnit === '%') ? 'selected' : '' %>>%</option>
					<option value="px" <%= (maxWidthUnit === 'px') ? 'selected' : '' %>>px</option>
				</select>
			</div>
		</label>
	</fieldset>

	<fieldset>
		<legend>Gutter</legend>

		<label for="gutter">
			<span class="label">Width:</span>

			<div class="input">
				<input type="number" name="gutterWidth" value="<%= gutterWidth %>" />
				<select name="gutterWidthUnit">
					<option value="%" <%= (gutterWidthUnit === '%') ? 'selected' : '' %>>%</option>
					<option value="px" <%= (gutterWidthUnit === 'px') ? 'selected' : '' %>>px</option>
				</select>
			</div>
		</label>
	</fieldset>
</div>
