$icons: (up-dir, "\e808"),
		(right-dir, "\e80a"),
		(down-dir, "\e807"),
		(left-dir, "\e809"),
		(ok, "\e801"),
		(cancel, "\e802"),
		(eye, "\e80c"),
		(export, "\e80e"),
		(github, "\e806"),
		(download, "\e80b"),
		(wrench, "\e804");

@mixin icon($name) {
	&:before {
		@include inline-block();
		width: 1em;
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		speak: none;
		text-align: center;
		text-decoration: inherit;
		text-transform: none;

		@each $icon in $icons {
			@if $name == nth($icon, 1) {
				content: nth($icon, 2);
			}
		}
	}
}
