$color-header-background: #161712;
$color-header-border: #000000;

.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: $grid-gutter 0;
	width: 100%;
	background-color: $color-header-background;
	background-color: rgba($color-header-background, 0.7);
	border-bottom: 1px solid $color-header-border;
	border-bottom: 1px solid rgba($color-header-border, 0.2);

	.content {
		@include grid-container();
	}
}
