.header {
	@include transition(top 1s);
	position: fixed;
	top: 0;
	left: 0;
	padding: $grid-gutter 0;
	width: 100%;
	background-color: $color-header-background;
	background-color: rgba($color-header-background, 0.7);
	border-bottom: 1px solid $color-header-border;
	border-bottom: 1px solid rgba($color-header-border, 0.2);

	&.collapsed {
		top: -100%;
	}

	.content {
		@include grid-container();
	}

	.title {
		@include icon(eye);
		@include grid(6);
		position: relative;
		overflow: hidden;
		font-size: 2em;
		text-indent: -999px;
		text-decoration: none;

		&:before {
			position: absolute;
			text-indent: 0;
			top: 0;
			left: $grid-gutter;
		}
	}
}
