* {
	@include box-sizing(border-box);
}

html,
body,
.container {
	height: 100%;
}

body {
	background-image: url("../img/backgrounds/app.png");

	@include retina() {
		background-image: url("../img/backgrounds/app-retina.png");
		background-size: image-width("../img/backgrounds/app.png") auto;
	}
}
