body {
	line-height: 110%;
	color: $color-text;
	font-family: "Raleway", "Verdana", "Arial", sans-serif;
}

a {
	color: $color-text;
}

input {
	font-family: "Raleway", "Verdana", "Arial", sans-serif;
	font-size: 1em;
}
