$grid-max: 960px;
$grid-columns: 6;
$grid-gutter: 10px;

$grid-break-medium: 400px;
$grid-break-large: 700px;

$color-background: #d3e0e5;
$color-text: #242424;

$color-header-background: #ffffff;
$color-header-border: #242424;

$color-grid-shadow: #151216;
$color-grid-border: $color-header-border;
$color-grid-colum: #dcdcdc;
$color-grid-content: #f1f1f1;

$color-forms-background: $color-text;
$color-forms-text: #ffffff;

$resizer-handle-width: 2em;
$resizer-handle-height: 2em;

$zindex-overlay: 10;
$zindex-overlay-loading: 100;
