$grid-max: 960px;
$grid-columns: 6;
$grid-gutter: 10px;

$color-background: #d3e0e5;
$color-text: #242424;

$color-header-background: #ffffff;
$color-header-border: #242424;

$color-grid-shadow: rgba(#151216, 0.2);
$color-grid-colum: #dcdcdc;
$color-grid-content: #f1f1f1;

$color-forms-background: $color-text;
$color-forms-text: #ffffff;
