$grid-max: 960px;
$grid-columns: 6;
$grid-gutter: 10px;

$color-background: #d3e0e5;
$color-text: #242424;

$color-header-background: #ffffff;
$color-header-border: #242424;

$color-grid-shadow: rgba(#151216, 0.2);
$color-grid-colum: #bcd7e1;
$color-grid-content: #93b0ba;
