.grid {
	@include pie-clearfix();
	@include box-shadow(
		$color-grid-shadow 10px 0 20px,
		$color-grid-shadow -10px 0 20px
	);
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 1024px;
}

.grid-column {
	float: left;
	height: 100%;
	background: $color-grid-colum;
	@include background-image(
		linear-gradient(
			left,
			$color-grid-colum,
			darken($color-grid-colum, 5%)
		)
	);
}

.grid-content {
	width: 100%;
	height: 100%;
	background: $color-grid-content;
	@include background-image(
		inear-gradient(
			$color-grid-content,
			darken($color-grid-content, 50%)
		)
	);
}
